---
import Project from "@component/page/Project.astro";
import About from "@component/page/About.astro";
import Skill from "@component/page/Skill.astro";
import Work from "@component/page/Work.astro";
import Layout from "@layout/Layout.astro";
import Hero from "@component/page/Hero.astro";
---

<Layout>
  <main class="flex flex-col items-center">
    <Hero />
    <Work />
    <Project />
    <Skill />
    <About />
  </main>
</Layout>

<script>
  import { render } from "@pdf";
  import { Profile } from "@schema";

  const cvBtn = document.getElementById("profile-cv")!;

  // Toggle the theme when a user clicks the button.
  cvBtn.addEventListener("click", () => {
    render().download(`${Profile.name} CV.pdf`);
  });
</script>
