---
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<div class="relative inline-block cursor-pointer group">
    <slot />
    <span
        class:list={[
            "text-white bg-primary-500",
            "absolute z-10 min-w-40 max-w-xl text-center px-2 py-1 rounded-md shadow-md left-1/2 bottom-full mb-2 opacity-0",
            "-translate-x-1/2 transition-opacity delay-300 duration-500 invisible group-hover:visible group-hover:opacity-100",
            "after:absolute after:top-full after:left-1/2 after:border-8 after:-ml-1 after:border-t-primary-500 after:border-transparent",
        ]}
    >
        {title}
    </span>
</div>
