---
import Tooltip from './Tooltip.astro'
import { Network } from '@schema'
import Icon from './Icon.astro'
---

<div class="fixed bottom-4 right-10 flex">
  <Tooltip title={Network.whatsapp.name}>
    <a
      target="_blank"
      href={Network.whatsapp.url}
      aria-label={Network.whatsapp.label}
      class="inline-flex p-3 bg-green-500 text-white rounded-full shadow-lg hover:bg-green-600 transform transition-all duration-300 ease-in-out scale-100 hover:scale-110 animate-bounce"
    >
      <Icon icon={Network.whatsapp.icon} size="48" strokeWidth={1.5} />
    </a>
  </Tooltip>
</div>
