---
import Theme from './composite/ThemeProvider.astro'
import Header from "./composite/Header.astro";
import Meta from './composite/Meta.astro'
---

<!doctype html>
<html lang="es">
	<head>
		<Meta/>
		<Theme/>
	</head>
	<body class="bg-gray-50 flex justify-center items-center text-gray-900 dark:text-gray-300">
		<div
			class="absolute top-0 bottom-0 z-[-2] min-h-screen w-full bg-gray-50 dark:bg-gray-950
		    bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(217,216,255,0.5),rgba(255,255,255,0.9))]
		    dark:bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
		>
		</div>

		<Header />

		<slot/>
	</body>
</html>
